.card-view {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.card-view__content {
  padding: 0 2rem;
}

.card-view__card-container {
  display: flex;
  justify-content: center;
}

.card-view__card {
  width: 28rem;
  max-width: 90vw;
}

.card-view--loading {
  text-align: center;
}

.card-view__loading-text {
  color: white;
}

.card-view--not-found {
  text-align: center;
}

.card-view__not-found-button {
  margin-bottom: 1rem;
}

.card-view__not-found-text {
  color: white;
}
